*{
  padding: 0;
  margin-top: 0;
}
.header-nav{
  color: lightskyblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #21222A;
}
.logoHeader{
  width: 60px;
  padding-left: 10px;
}
.nav-items{
  color: white;
  list-style: none;
  display: flex;
 
}
.nav-items > li{
  padding: 10px;
}
h1{
  text-align: left;
}

/* ! Main Content Css */
.main-cont{
  color: white;
  padding: 6% 0% 5% 0%;
  background-color: #282D35;
  padding-left: 8%;
}

.list-facts{
  color: white;
  line-height: 1.5;
  list-style: none;
}

ul li::before {
  content: "\2022";
  color: skyblue;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}