@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
:root{
    --nav-color: #21222A;
    --main-color:#282D35 ;
    --text-react:#61DAFB;
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: Inter, sans-serif;
}
/* ? Styling The NavBar */
nav{
    display: flex;
    text-align: center;
    background-color:var(--nav-color);
    height: 90px;
    padding: 30px 25px;
}
.nav--logoName , .nav--projectName{
    margin: 0;
}
.nav--logoName{
    margin-right: auto;
    color: var(--text-react);
    font-weight: 700;
    font-size: 22px;
}
.nav--projectName{
    color: white;
    font-weight: 400;
}
.nav--icon{
    height: 30px;
    margin-right: 7px;
}

/* ? Styling The Main Component */

main{
    background-color:var(--main-color) ;
}