.header-nav{
  color: lightskyblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 83, 0.829);
  box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.103);
}
.nav-items{
  color: white;
  list-style: none;
  display: flex;
 
}
.nav-items > li{
  padding: 10px;
}